
<ion-content>
    <ion-slides>

        <ion-slide style="background-color: black; background-image: url('assets/img/screen1.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div style="border-radius: 25px;  margin-left: 15px; margin-right: 15px; padding-top: 40vh;">
                <h1 style="font-weight:900;color: rgb(255, 0, 0);  margin-left: 20px; margin-right: 20px; font-size: 8vw;">Digitale Dentistry</h1>
                <img src="assets/img/login_logo_small.png">
            </div>
        </ion-slide>  

        <ion-slide style="background-color: black; background-image: url('assets/img/screen2.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div style="border-radius: 25px;  margin-left: 15px; margin-right: 15px; padding-top: 40vh;">
                <h1 style="font-weight:900;color: rgb(255, 0, 0);  margin-left: 20px; margin-right: 20px; font-size: 8vw;">Odontología Digital</h1>
                <img src="assets/img/login_logo_small.png">
            </div>
        </ion-slide> 
        
        <ion-slide style="background-color: black; background-image: url('assets/img/screen3.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div style="border-radius: 25px;  margin-left: 15px; margin-right: 15px; padding-top: 40vh;">
                <h1 style="font-weight:900;color: rgb(255, 0, 0);  margin-left: 20px; margin-right: 20px; font-size: 8vw;">Digital Dentistry</h1>
                <img src="assets/img/login_logo_small.png">
            </div>
        </ion-slide> 


        <!--v2
        
        <ion-slide style="background-color: black; background-image: url('assets/img/screen1.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div style="border-radius: 25px;  margin-left: 15px; margin-right: 15px; padding-top: 40vh;">
                <h1 style="font-weight:900;color: rgb(255, 255, 255);  margin-left: 20px; margin-right: 20px; font-size: 8vw;">{{ 'custom.login.screen1.title' | translate }}</h1>
                <p style="align-content: center; margin-left: 20px; margin-right: 20px; font-size: large;">{{ 'custom.login.screen1.desc' | translate }}</p>
            </div>
        </ion-slide>  

        <ion-slide style="background-color: black; background-image: url('assets/img/screen2.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div style="border-radius: 25px;  margin-left: 15px; margin-right: 15px; padding-top: 40vh;">
                <h1 style="font-weight:900;color: rgb(255, 255, 255);  margin-left: 20px; margin-right: 20px; font-size: 8vw;">{{ 'custom.login.screen2.title' | translate }}</h1>
                <p style="align-content: center; margin-left: 23px; margin-right: 23px; font-size: large;">{{ 'custom.login.screen2.desc' | translate }}</p>
            </div>
        </ion-slide> 
        
        <ion-slide style="background-color: black; background-image: url('assets/img/screen3.png'); background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div style="border-radius: 25px;  margin-left: 15px; margin-right: 15px; padding-top: 40vh;">
                <h1 style="font-weight:900;color: rgb(255, 255, 255);  margin-left: 20px; margin-right: 20px; font-size: 8vw;">{{ 'custom.login.screen3.title' | translate }}</h1>
                <p style="align-content: center; margin-left: 20px; margin-right: 20px; font-size: large;">{{ 'custom.login.screen3.desc' | translate }}</p>
            </div>
        </ion-slide>  -->


        
        <!--V1
        <ion-slide style="background-color: #76A6D7;">
            <div style="height:500px; margin-top: -50px; padding-bottom:50px; background-image: url('assets/img/doctor.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
            <div style="border-radius: 25px; background-color:white; margin-left: 15px; margin-right: 15px; padding-bottom: 20px;">
                <h1 style="padding-top: 50px;font-weight:800;color: rgb(53, 55, 116);  margin-left: 20px; margin-right: 20px;">{{ 'custom.login.welcome' | translate }}</h1>
                <p style="align-content: left; margin-left: 20px; margin-right: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas sit amet leo in euismod. Nullam fringilla blandit tellus a dapibus. Etiam porttitor, dui sit amet fringilla commodo, risus urna efficitur neque.</p>
            </div>
        </ion-slide>

        <ion-slide style="background-color: #FAFAFA;">
                <div style="height:500px; margin-top: -50px; padding-bottom:50px; background-image: url('assets/img/screen1.png'); background-size: cover; background-repeat: no-repeat;"></div>
                <div style="border-radius: 25px; background-color:white; margin-left: 15px; margin-right: 15px; padding-bottom: 20px;">
                    <h1 style="padding-top: 50px;font-weight:800;color: rgb(53, 55, 116);  margin-left: 20px; margin-right: 20px;">{{ 'custom.login.learn' | translate }}</h1>
                    <p style="align-content: left; margin-left: 20px; margin-right: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas sit amet leo in euismod. Nullam fringilla blandit tellus a dapibus. Etiam porttitor, dui sit amet fringilla commodo, risus urna efficitur neque.</p>
                </div>
        </ion-slide>   -->   
    
        <ion-slide>
            <core-loading [hideUntil]="pageLoaded">
                <div text-wrap text-center margin-bottom>
                    <div class="core-login-site-logo">
                        <!-- Show site logo or a default image. -->
                        <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" onError="this.src='assets/img/login_logo.png'">
                        <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation">
                        
                    </div>
                    <!--<span class="core-siteurl" style="font-size: 35px;">DIGIAGE</span>-->
                    <h3 *ngIf="siteName" padding class="core-sitename"><core-format-text [text]="siteName" [filter]="false"></core-format-text></h3>
                    
                </div>
                <h1 style="font-weight:900;text-align: left;padding-left: 15px;font-size: 35px;color: #46a9f5; padding-bottom: 25px;">Login</h1>
                <form ion-list [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
                        <ion-item *ngIf="siteChecked && !isBrowserSSO" style="padding-right: 15px;">
                            <ion-input slot="end" type="text" name="username" placeholder="{{ 'core.login.username' | translate }}" formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username"></ion-input>
                        </ion-item>
                    <ion-item *ngIf="siteChecked && !isBrowserSSO" margin-bottom style="padding-right: 15px;">
                        <core-show-password item-content [name]="'password'">
                            <ion-input class="core-ioninput-password" name="password" type="password" placeholder="{{ 'core.login.password' | translate }}" formControlName="password" core-show-password [clearOnEdit]="false" autocomplete="current-password"></ion-input>
                        </core-show-password>
                    </ion-item>
                    <div padding>
                        <button style="padding-top: 20px; padding-bottom: 20px; border-radius: 10px;" ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid" class="core-login-login-button">{{ 'core.login.loginbutton' | translate }}</button>
                    </div>
        
                    <!-- <ng-container *ngIf="showScanQR">
                        <div class="core-login-site-qrcode-separator">{{ 'core.login.or' | translate }}</div>
                        <ion-item class="core-login-site-qrcode" no-lines>
                            <a ion-button block color="light" margin-top icon-start text-wrap (click)="showInstructionsAndScanQR()">
                                <core-icon name="fa-qrcode" aria-hidden="true"></core-icon>
                                {{ 'core.scanqr' | translate }}
                            </a>
                        </ion-item>
                    </ng-container> -->
                </form>
        
                <!-- Forgotten password button. -->
                <ion-list no-lines *ngIf="showForgottenPassword" class="core-login-forgotten-password core-login-link">
                    <a ion-item text-center text-wrap (click)="forgottenPassword()" detail-none style="text-decoration: none;">
                        {{ 'core.login.forgotten' | translate }}
                    </a>
                </ion-list>
        
                <ion-list *ngIf="identityProviders && identityProviders.length" padding-top class="core-login-identity-providers">
                    <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.potentialidps' | translate }}</h3></ion-item>
                    <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon" (click)="oauthClicked(provider)" title="{{provider.name}}">
                        <img [src]="provider.iconurl" alt="" width="32" height="32" item-start>
                        {{provider.name}}
                    </button>
                </ion-list>
        
                <ion-list *ngIf="canSignup" padding-top class="core-login-sign-up">
                    <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.firsttime' | translate }}</h3></ion-item>
                    <ion-item no-lines text-wrap *ngIf="authInstructions">
                        <p><core-format-text [text]="authInstructions" [filter]="false"></core-format-text></p>
                    </ion-item>
                    <button ion-button block color="light" (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>
                </ion-list>
            </core-loading>
        </ion-slide>

      </ion-slides>

    
</ion-content>
